.App {
  text-align: center;
  display: flex;
  flex-direction: column;

  height: 100vh;
}

.app-footer {
  position: fixed;
  width: 100%;
  height: 90px;
}

.app-footer {
  bottom: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  background-color: var(--main-bg-color);
}

.app-footer>ul.footer-nav {
  display: flex;
  flex-direction: row;
  list-style: none;
}



.footer-nav>li>a {
  height: 100%;
  padding: 8px 16px;
  text-decoration: none;
  background-color: var(--secondary-bg-color);
}

.footer-nav>li>a:hover {
  background-color: darkgrey;
}


.content-container {
  min-width: 500px;
  max-width: 800px;
  margin: 0 auto;
}

.headerfootermargin {
  padding: 100px 0 90px 0 !important
}

button.btn {
  background-color: var(--main-bg-color);
  color: var(--font-color);
  padding: 8px 16px;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.align-center {
  align-items: center;
}


.space-between {
  justify-content: space-between;
}

.gap-4 {
  gap: 4px;
}


.flex-column {
  display: flex;
  flex-direction: column;
}

.card {
  box-shadow: 3px 1px 3px var(--main-bg-color);
  padding: 16px;
}

.margin-bottom-8 {
  margin-bottom: 8px;
}

input {
  padding: 8px;

}

a {
  background-color: var(--main-bg-color);
  color: white;
  padding: 4px 8px;
  text-decoration: none;
}